<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1">

<head>
    <meta charset="UTF-8">
    <title>Mise à jour Format</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
<div class="align-content-center">Mise à jour Forme</div>

    <div layout:fragment="content1">
        <div class="col-md-6 offset-3">
            <form class="mb-3" method="post" th:action="@{saveFormat}">
                <div class="mb-3">
                    <label for="idFormat">ID Format</label>
                    <input id="idFormat" class="form-control" type="text" name="idFormat" th:readonly="true" th:value="${format.idFormat}">
                </div>
                <div class="mb-3">
                    <label for="typeFormat">Type Format</label>
                    <input id="typeFormat" class="form-control" type="text" name="typeFormat" th:value="${format.typeFormat}">
                    <span class="text-danger" th:errors="${format.typeFormat}"></span>
                </div>
                <button type="submit" class="btn btn-primary">Enregistrer</button>

            </form>
        </div>

</div>
</body>
</html>