<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1">

<head>
    <meta charset="UTF-8">
    <title>Mise à jour Materiau</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>

<div class="text-center">Mise à jour Materiau </div>
    <div layout:fragment="content1">
        <div class="col-md-6 offset-3">
            <form class="mb-3" method="post" th:action="@{saveMateriau}">
                <div class="mb-3">
                    <label for="idMateriau">ID Materiau</label>
                    <input id="idMateriau" class="form-control" type="text" name="idMateriau" th:readonly="true" th:value="${materiau.idMateriau}">
                </div>
                <div class="mb-3">
                    <label for="typeMateriau">Type Materiau</label>
                    <input id="typeMateriau" class="form-control" type="text" name="typeMateriau" th:value="${materiau.typeMateriau}">
                    <span class="text-danger" th:errors="${materiau.typeMateriau}"></span>
                </div>
                <button type="submit" class="btn btn-primary">Enregistrer</button>

            </form>
        </div>

</div>
</body>
</html>